In [324]:
import pandas as pd
import datetime
import requests
import numpy as np
from polio_utils import download_polio_data, extract_wild_cases, extract_vd_cases, owid_population, standardise_countries, extract_historical_wild_cases, get_who_data_and_regions

In [325]:
who_data = pd.read_csv('data/who_extranet_cases.csv')
who_data['entity'] = standardise_countries(who_data['country_territory_region'])
current_year = datetime.datetime.now().year

In [326]:
who_ext_wild = who_data[['year','entity', 'wild_poliovirus_cases', 'non_polio_afp_rate','percent_adequate_stool_collection']]
who_ext_wild = who_ext_wild[(who_ext_wild.year > 2000) & (who_ext_wild.year < current_year)]
who_ext_wild = who_ext_wild[~who_ext_wild.entity.str.contains("_REGION")]
#who_ext_wild['total_polio'] = who_ext_wild['wild_poliovirus_cases'] + who_ext_wild['c_vdpv_cases']
who_ext_wild.rename(columns= {'wild_poliovirus_cases':'wild_polio_cases' }, inplace=True)
who_ext_wild

,year,entity,wild_polio_cases,non_polio_afp_rate,percent_adequate_stool_collection
172,2001,Afghanistan,11.0,1.70,73.0
173,2001,Albania,0.0,1.11,92.0
174,2001,Algeria,1.0,1.23,98.0
175,2001,Andorra,NaN,NaN,NaN
176,2001,Angola,1.0,2.40,66.0
...,...,...,...,...,...
3824,2021,Vietnam,0.0,1.15,97.0
3825,2021,Palestine,0.0,0.99,100.0
3826,2021,Yemen,0.0,7.50,88.0
3827,2021,Zambia,0.0,3.95,36.0
3828,2021,Zimbabwe,0.0,2.82,66.0

In [327]:
who_ext_vdpv = who_data[['year','entity', 'c_vdpv_cases']]
who_ext_vdpv = who_ext_vdpv[(who_ext_vdpv.year > 2000) & (who_ext_vdpv.year < 2016)]
who_ext_vdpv = who_ext_vdpv[~who_ext_vdpv.entity.str.contains("_REGION")]
#who_ext_vdpv['total_polio'] = who_ext_vdpv['wild_poliovirus_cases'] + who_ext_vdpv['c_vdpv_cases']
who_ext_vdpv.rename(columns= {'c_vdpv_cases':"total_cVDPV"}, inplace=True)
who_ext_vdpv

      year       entity  total_cVDPV
172   2001  Afghanistan          0.0
173   2001      Albania          0.0
174   2001      Algeria          0.0
175   2001      Andorra          NaN
176   2001       Angola          0.0
...    ...          ...          ...
2774  2015      Vietnam          0.0
2775  2015    Palestine          0.0
2776  2015        Yemen          0.0
2777  2015       Zambia          0.0
2778  2015     Zimbabwe          0.0

[2577 rows x 3 columns]

Data from 1980-2019 from WHO - download from http://www.who.int/entity/immunization/monitoring_surveillance/data/incidence_series.xls?ua=1

In [328]:
who_melt, regions = get_who_data_and_regions()

In [329]:
who_melt = who_melt[who_melt.year < 2001]
who_melt.sort_values(['entity','year'])

           entity  year  total_polio
7566  Afghanistan  1980        880.0
7372  Afghanistan  1981        837.0
7178  Afghanistan  1982       1390.0
6984  Afghanistan  1983       1991.0
6790  Afghanistan  1984        552.0
...           ...   ...          ...
4655     Zimbabwe  1996          1.0
4461     Zimbabwe  1997          3.0
4267     Zimbabwe  1998         17.0
4073     Zimbabwe  1999          2.0
3879     Zimbabwe  2000          0.0

[4074 rows x 3 columns]

Get wild type data

In [330]:
res = download_polio_data(url_stub='https://polioeradication.org/wp-content/uploads/2022/03/weekly-polio-analyses-WPV-')
date_today = datetime.date.today().strftime("%Y-%m-%d")
fp = f"data/polio_wild_cases_{date_today}.pdf"

with open(fp, 'wb') as f:
    f.write(res.content)

wt_df = extract_wild_cases(file_path = fp)
wt_df['entity'] = standardise_countries(wt_df['entity'])


res = requests.get('https://polioeradication.org/wp-content/uploads/2017/01/WPV_2011-2016_03JAN17.pdf')

fp = f"data/polio_historical_wild_cases_{date_today}.pdf"

with open(fp, 'wb') as f:
    f.write(res.content)
wth_df = extract_historical_wild_cases(file_path = fp)
wth_df['entity'] = standardise_countries(wth_df['entity'])

wt_df = wt_df.append(wth_df)
wt_df.year = wt_df.year.astype(int)
wt_df.wild_polio_cases = wt_df.wild_polio_cases.astype(int)

Get vaccine derived cases

In [331]:
res = download_polio_data(url_stub='http://polioeradication.org/wp-content/uploads/2022/03/weekly-polio-analyses-cVDPV-')
date = datetime.date.today().strftime("%Y-%m-%d")
fp = f"data/polio_vaccine_derived_cases_{date}.pdf"

with open(fp, 'wb') as f:
    f.write(res.content)

vd_df = extract_vd_cases()
vd_df['entity'] = standardise_countries(vd_df['entity'])
vd_df.year = vd_df.year.astype(int)
vd_df.total_cVDPV = vd_df.total_cVDPV.astype(int)

vd_df = vd_df.groupby(['entity', 'year']).sum()
vd_df = vd_df.reset_index()
vd_df

          entity  year  cVDPV1  cVDPV2  cVDPV3  total_cVDPV
0    Afghanistan  2016       0       0       0            0
1    Afghanistan  2017       0       0       0            0
2    Afghanistan  2018       0       0       0            0
3    Afghanistan  2019       0       0       0            0
4    Afghanistan  2020       0     308       0          308
..           ...   ...     ...     ...     ...          ...
283       Zambia  2017       0       0       0            0
284       Zambia  2018       0       0       0            0
285       Zambia  2019       0       2       0            2
286       Zambia  2020       0       0       0            0
287       Zambia  2021       0       0       0            0

[288 rows x 6 columns]

In [332]:

polio_df = vd_df.merge(who_ext_vdpv, on=['entity','year', 'total_cVDPV'], how='outer').merge(who_ext_wild, on=['entity','year'], how='outer').merge(who_melt, on=['entity','year'], how='outer')
#polio_df = polio_df.groupby(['year','entity'],as_index=False).first()
polio_df.sort_values(by=['entity','year'])

,entity,year,cVDPV1,cVDPV2,cVDPV3,total_cVDPV,wild_polio_cases,non_polio_afp_rate,percent_adequate_stool_collection,total_polio
7495,Afghanistan,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,880.0
7301,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,837.0
7107,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1390.0
6913,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991.0
6719,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,552.0
...,...,...,...,...,...,...,...,...,...,...
3114,Zimbabwe,2017,NaN,NaN,NaN,NaN,0.0,3.33,89.0,NaN
3239,Zimbabwe,2018,NaN,NaN,NaN,NaN,0.0,3.74,78.0,NaN
3364,Zimbabwe,2019,NaN,NaN,NaN,NaN,0.0,3.03,90.0,NaN
3489,Zimbabwe,2020,NaN,NaN,NaN,NaN,0.0,2.86,70.0,NaN
3614,Zimbabwe,2021,NaN,NaN,NaN,NaN,0.0,2.82,66.0,NaN

In [333]:
polio_df[polio_df[['year','entity']].duplicated(keep=False)].sort_values(['year','entity'])

Empty DataFrame
Columns: [entity, year, cVDPV1, cVDPV2, cVDPV3, total_cVDPV, wild_polio_cases, non_polio_afp_rate, percent_adequate_stool_collection, total_polio]
Index: []

In [334]:
df = polio_df.set_index(['entity','year'])
mux = pd.MultiIndex.from_product([df.index.levels[0], df.index.levels[1]],names=['entity','year'])
df = df.reindex(mux, fill_value=np.nan).reset_index()
df.sort_values(['entity','year'])

,entity,year,cVDPV1,cVDPV2,cVDPV3,total_cVDPV,wild_polio_cases,non_polio_afp_rate,percent_adequate_stool_collection,total_polio
0,Afghanistan,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,880.0
1,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,837.0
2,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1390.0
3,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991.0
4,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,552.0
...,...,...,...,...,...,...,...,...,...,...
8437,Zimbabwe,2017,NaN,NaN,NaN,NaN,0.0,3.33,89.0,NaN
8438,Zimbabwe,2018,NaN,NaN,NaN,NaN,0.0,3.74,78.0,NaN
8439,Zimbabwe,2019,NaN,NaN,NaN,NaN,0.0,3.03,90.0,NaN
8440,Zimbabwe,2020,NaN,NaN,NaN,NaN,0.0,2.86,70.0,NaN
8441,Zimbabwe,2021,NaN,NaN,NaN,NaN,0.0,2.82,66.0,NaN

In [343]:
df['total_polio'][df.year > 2000] = df[['wild_polio_cases','total_cVDPV']][df.year > 2000].sum(axis=1, min_count=1)
df[df.entity == 'Chad']

/var/folders/yc/bkg2k6pj6td2tpkj64v1yvbr0000gn/T/ipykernel_53785/3031876321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_polio'][df.year > 2000] = df[['wild_polio_cases','total_cVDPV']][df.year > 2000].sum(axis=1, min_count=1)

,entity,year,cVDPV1,cVDPV2,cVDPV3,total_cVDPV,wild_polio_cases,non_polio_afp_rate,percent_adequate_stool_collection,total_polio
1386,Chad,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1387,Chad,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1388,Chad,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1389,Chad,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
1390,Chad,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
1391,Chad,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0
1392,Chad,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
1393,Chad,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1394,Chad,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1395,Chad,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1396,Chad,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1397,Chad,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1398,Chad,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1399,Chad,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1400,Chad,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1401,Chad,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.0
1402,Chad,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0
1403,Chad,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,326.0
1404,Chad,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
1405,Chad,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0
1406,Chad,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0
1407,Chad,2001,NaN,NaN,NaN,0.0,0.0,3.90,54.0,0.0
1408,Chad,2002,NaN,NaN,NaN,0.0,0.0,2.50,71.0,0.0
1409,Chad,2003,NaN,NaN,NaN,0.0,25.0,1.90,73.0,25.0
1410,Chad,2004,NaN,NaN,NaN,0.0,24.0,1.70,73.0,24.0
1411,Chad,2005,NaN,NaN,NaN,0.0,2.0,3.50,86.0,2.0
1412,Chad,2006,NaN,NaN,NaN,0.0,1.0,2.70,93.0,1.0
1413,Chad,2007,NaN,NaN,NaN,0.0,22.0,2.91,88.0,22.0
1414,Chad,2008,NaN,NaN,NaN,0.0,37.0,3.67,84.0,37.0
1415,Chad,2009,NaN,NaN,NaN,0.0,64.0,5.08,83.0,64.0
1416,Chad,2010,NaN,NaN,NaN,1.0,26.0,4.57,87.0,27.0
1417,Chad,2011,NaN,NaN,NaN,0.0,132.0,5.61,82.0,132.0
1418,Chad,2012,NaN,NaN,NaN,12.0,5.0,6.95,80.0,17.0
1419,Chad,2013,NaN,NaN,NaN,3.0,0.0,8.30,90.0,3.0
1420,Chad,2014,NaN,NaN,NaN,0.0,0.0,6.51,95.0,0.0
1421,Chad,2015,NaN,NaN,NaN,0.0,0.0,6.95,93.0,0.0
1422,Chad,2016,0.0,0.0,0.0,0.0,0.0,7.93,93.0,0.0
1423,Chad,2017,0.0,0.0,0.0,0.0,0.0,11.57,91.0,0.0
1424,Chad,2018,0.0,0.0,0.0,0.0,0.0,10.69,84.0,0.0
1425,Chad,2019,0.0,11.0,0.0,11.0,0.0,13.38,88.0,11.0
1426,Chad,2020,0.0,101.0,0.0,101.0,0.0,14.28,58.0,101.0
1427,Chad,2021,0.0,0.0,0.0,0.0,0.0,17.35,78.0,0.0

Add the regional totals

In [336]:
regional_total = regions.merge(df,on = 'entity').groupby(['WHO_REGION', 'year'])[['cVDPV1', 'cVDPV2', 'cVDPV3','total_cVDPV','wild_polio_cases','total_polio']].sum(min_count=1).reset_index()
regional_total['WHO_REGION'].replace(['AFR', 'AMR', 'SEAR', 'EUR', 'EMR', 'WPR'], ['Africa', 'Americas', 'South-East Asia', 'Europe', 'Eastern Mediterranean', 'Western Pacific'], inplace = True)
regional_total.rename(columns = {'WHO_REGION':'entity'}, inplace = True)
regional_total

,entity,year,cVDPV1,cVDPV2,cVDPV3,total_cVDPV,wild_polio_cases,total_polio
0,Africa,1980,NaN,NaN,NaN,NaN,NaN,5126.0
1,Africa,1981,NaN,NaN,NaN,NaN,NaN,4191.0
2,Africa,1982,NaN,NaN,NaN,NaN,NaN,3897.0
3,Africa,1983,NaN,NaN,NaN,NaN,NaN,3066.0
4,Africa,1984,NaN,NaN,NaN,NaN,NaN,2968.0
...,...,...,...,...,...,...,...,...
247,Western Pacific,2017,0.0,0.0,0.0,0.0,0.0,0.0
248,Western Pacific,2018,26.0,0.0,0.0,26.0,0.0,26.0
249,Western Pacific,2019,5.0,13.0,0.0,18.0,0.0,18.0
250,Western Pacific,2020,1.0,1.0,0.0,2.0,0.0,2.0
251,Western Pacific,2021,0.0,0.0,0.0,0.0,0.0,0.0

Adding a global total

In [337]:
global_entities = regions
global_entities['WHO_REGION'] = 'World'
global_total = global_entities.merge(df,on = 'entity').groupby(['WHO_REGION', 'year']).sum(min_count=1)[['cVDPV1', 'cVDPV2', 'cVDPV3','total_cVDPV','wild_polio_cases','total_polio']].reset_index()
global_total.rename(columns = {'WHO_REGION':'entity'}, inplace = True)

In [338]:
df.drop(df[df['entity'] == 'World'].index, inplace=True)
total_df = pd.concat([df,regional_total,  global_total])
total_df['total_polio'] = total_df['total_polio'].fillna(0)
total_df[total_df.entity == 'World']

,entity,year,cVDPV1,cVDPV2,cVDPV3,total_cVDPV,wild_polio_cases,non_polio_afp_rate,percent_adequate_stool_collection,total_polio
0,World,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52630.0
1,World,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65737.0
2,World,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51628.0
3,World,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39973.0
4,World,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35084.0
5,World,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38483.0
6,World,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32846.0
7,World,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39683.0
8,World,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34617.0
9,World,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26104.0
10,World,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23053.0
11,World,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13274.0
12,World,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15304.0
13,World,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10500.0
14,World,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8666.0
15,World,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7043.0
16,World,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4070.0
17,World,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5186.0
18,World,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6347.0
19,World,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7141.0
20,World,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2971.0
21,World,2001,NaN,NaN,NaN,13.0,483.0,NaN,NaN,496.0
22,World,2002,NaN,NaN,NaN,4.0,1918.0,NaN,NaN,1922.0
23,World,2003,NaN,NaN,NaN,0.0,784.0,NaN,NaN,784.0
24,World,2004,NaN,NaN,NaN,2.0,1255.0,NaN,NaN,1257.0
25,World,2005,NaN,NaN,NaN,51.0,1979.0,NaN,NaN,2030.0
26,World,2006,NaN,NaN,NaN,25.0,1997.0,NaN,NaN,2022.0
27,World,2007,NaN,NaN,NaN,72.0,1315.0,NaN,NaN,1387.0
28,World,2008,NaN,NaN,NaN,85.0,1651.0,NaN,NaN,1736.0
29,World,2009,NaN,NaN,NaN,183.0,1604.0,NaN,NaN,1787.0
30,World,2010,NaN,NaN,NaN,60.0,1352.0,NaN,NaN,1412.0
31,World,2011,NaN,NaN,NaN,66.0,650.0,NaN,NaN,716.0
32,World,2012,NaN,NaN,NaN,70.0,223.0,NaN,NaN,293.0
33,World,2013,NaN,NaN,NaN,65.0,416.0,NaN,NaN,481.0
34,World,2014,NaN,NaN,NaN,56.0,359.0,NaN,NaN,415.0
35,World,2015,NaN,NaN,NaN,32.0,74.0,NaN,NaN,106.0
36,World,2016,3.0,2.0,0.0,5.0,37.0,NaN,NaN,42.0
37,World,2017,0.0,96.0,0.0,96.0,22.0,NaN,NaN,118.0
38,World,2018,27.0,71.0,7.0,105.0,33.0,NaN,NaN,138.0
39,World,2019,12.0,366.0,0.0,378.0,176.0,NaN,NaN,554.0
40,World,2020,34.0,1079.0,0.0,1113.0,140.0,NaN,NaN,1253.0
41,World,2021,16.0,627.0,0.0,643.0,6.0,NaN,NaN,649.0

Add per million variables

In [339]:
population = owid_population()

pop_df = pd.DataFrame(pd.merge(left = population, right = total_df, how="right"))
per_mil_df = pop_df[['entity', 'year']]
per_mil_df[['wild_polio_cases_per_million','cVDPV1_per_million','cVDPV2_per_million','cVDPV3_per_million','total_cVDPV_per_million','total_polio_per_million']] = pop_df[['wild_polio_cases','cVDPV1','cVDPV2','cVDPV3','total_cVDPV','total_polio']].div(pop_df.population, axis=0).mul(1000000).round(3)

/Users/fionaspooner/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

For wild polio we can fill NA for 2011 with 0, for vaccine derived it is 2016 onwards. To ensure that countries with 0 cases show up in the grapher as such.

In [340]:
final_df = pop_df.merge(per_mil_df).drop(columns = 'population')
#final_df['wild_polio_cases'][(final_df.year >=2011) & (final_df['wild_polio_cases'].isna())] = 0
#final_df['wild_polio_cases_per_million'][(final_df.year >=2011) & (final_df['wild_polio_cases_per_million'].isna())] = 0

final_df['total_cVDPV'][(final_df.year >=2016) & (final_df['total_cVDPV'].isna())] = 0
final_df['total_cVDPV_per_million'][(final_df.year >=2016) & (final_df['total_cVDPV_per_million'].isna())] = 0

/var/folders/yc/bkg2k6pj6td2tpkj64v1yvbr0000gn/T/ipykernel_53785/1247585839.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['total_cVDPV'][(final_df.year >=2016) & (final_df['total_cVDPV'].isna())] = 0
/var/folders/yc/bkg2k6pj6td2tpkj64v1yvbr0000gn/T/ipykernel_53785/1247585839.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['total_cVDPV_per_million'][(final_df.year >=2016) & (final_df['total_cVDPV_per_million'].isna())] = 0

In [341]:
final_df.sort_values(['entity','year'])

,entity,year,cVDPV1,cVDPV2,cVDPV3,total_cVDPV,wild_polio_cases,non_polio_afp_rate,percent_adequate_stool_collection,total_polio,wild_polio_cases_per_million,cVDPV1_per_million,cVDPV2_per_million,cVDPV3_per_million,total_cVDPV_per_million,total_polio_per_million
0,Afghanistan,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,880.0,NaN,NaN,NaN,NaN,NaN,65.886
1,Afghanistan,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,837.0,NaN,NaN,NaN,NaN,NaN,63.545
2,Afghanistan,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1390.0,NaN,NaN,NaN,NaN,NaN,107.898
3,Afghanistan,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991.0,NaN,NaN,NaN,NaN,NaN,158.801
4,Afghanistan,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,552.0,NaN,NaN,NaN,NaN,NaN,45.230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8437,Zimbabwe,2017,NaN,NaN,NaN,0.0,0.0,3.33,89.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000
8438,Zimbabwe,2018,NaN,NaN,NaN,0.0,0.0,3.74,78.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000
8439,Zimbabwe,2019,NaN,NaN,NaN,0.0,0.0,3.03,90.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000
8440,Zimbabwe,2020,NaN,NaN,NaN,0.0,0.0,2.86,70.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000
8441,Zimbabwe,2021,NaN,NaN,NaN,0.0,0.0,2.82,66.0,0.0,0.0,NaN,NaN,NaN,0.0,0.000

In [342]:
final_df.to_csv(f'data/polio_cases_to_upload_{date_today}.csv', index=False)