In [1]:
import pandas as pd
import requests, zipfile, io
from zipfile import ZipFile

Load in the main UCDP georeferenced data (1989-2020)

In [2]:
xy_file = ZipFile("data/input/ged211.csv.zip")

df_ged = pd.read_csv(xy_file.open('ged211.csv'))

df_ged.tail()

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
261859,15525,MZM-1989-3-1347-4,1989,1,Clear,3,498,562,Renamo - Civilians,498,...,1989-03-24 00:00:00.000,0,0,9,0,9,9,9,NaN,NaN
261860,15524,MZM-1989-3-1347-16,1989,1,Clear,3,498,562,Renamo - Civilians,498,...,1989-07-15 00:00:00.000,0,0,9,0,9,9,9,NaN,NaN
261861,15245,MZM-1990-3-1347-18,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-06-10 00:00:00.000,0,0,7,0,7,7,7,NaN,NaN
261862,15516,MZM-1990-3-1347-28,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-11-23 00:00:00.000,0,0,1,0,1,1,1,NaN,NaN
261863,15493,MZM-1990-3-1347-29,1990,1,Clear,3,498,562,Renamo - Civilians,498,...,1990-11-25 00:00:00.000,0,0,6,0,6,6,6,NaN,NaN

Load in the UCDP Candidate data for 2021

In [3]:
xy_file = ZipFile("data/input/GEDEvent_v21_01_21_12.csv.zip")

df_candidate_annual = pd.read_csv(xy_file.open('GEDEvent_v21_01_21_12.csv'))
df_candidate_annual.tail()

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
17402,418828,ZAM-2021-2-16818-2,2021,0,Clear,2,16818,15356,Supporters of PF - Supporters of UPND,16818,...,2021-07-26 00:00:00.000,0,1,0,0,1,1,0,NaN,NaN
17403,410054,ZAM-2021-2-16818-0,2021,0,Clear,2,16818,15356,Supporters of PF - Supporters of UPND,16818,...,2021-07-25 00:00:00.000,0,0,0,0,0,1,0,NaN,NaN
17404,410062,ZAM-2021-2-16818-1,2021,0,Clear,2,16818,15356,Supporters of PF - Supporters of UPND,16818,...,2021-07-30 00:00:00.000,2,0,0,0,2,2,0,NaN,NaN
17405,390291,ZIM-2021-3-943-0,2021,0,Clear,3,101,476,Government of Zimbabwe (Rhodesia) - Civilians,101,...,2021-03-21 00:00:00.000,0,0,1,0,1,1,1,552.0,NaN
17406,397323,ZIM-2021-3-3-XXX552-0,2021,0,Check,3,XXX552,4432,XXX552 - Civilians,XXX552,...,2021-04-13 00:00:00.000,0,0,2,0,2,2,2,NaN,NaN

Load in the UCDP Candidate data â€“ monthly for 2022 (up to Feb only currently)

In [4]:
xy_file = ZipFile("data/input/GEDEvent_v22_0_2.csv.zip")

df_candidate_monthly = pd.read_csv(xy_file.open('GEDEvent_v22_0_2.csv'))
df_candidate_monthly.tail()

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
979,428546,YEM-2022-2-14596-0,2022,0,Clear,2,14596,13587,AQAP - Forces of Hadi,14596,...,2022-02-06 00:00:00.000,0,3,1,0,4,5,4,NaN,NaN
980,430944,YEM-2022-3-15781-1,2022,0,Check,3,6254,14511,Forces of Hadi - Civilians,6254,...,2022-03-03 00:00:00.000,0,0,1,0,1,1,1,NaN,NaN
981,430843,YEM-2022-2-15915-1,2022,0,Check,2,15915,14623,Forces of Hadi - STC,15915,...,2022-02-19 00:00:00.000,0,0,0,2,2,2,2,NaN,NaN
982,428117,YEM-2022-2-17014-0,2022,0,Clear,2,17014,15505,Giants Brigade - STC,17014,...,2022-02-01 00:00:00.000,1,0,0,0,1,1,1,NaN,NaN
983,431229,ZIM-2022-2-2-XXX552-0,2022,0,Check dyad,2,2-XXX552,173,XXX552 - XXX552,2-XXX552,...,2022-02-27 00:00:00.000,0,1,0,0,1,1,1,NaN,NaN

### Append the GED and Candidate datasets into a single dataframe

In [5]:
frames = [df_ged, df_candidate_annual, df_candidate_monthly]

df = pd.concat(frames, keys=['ged', 'candidate_annual', 'candidate_monthly']).reset_index()
df = df.rename(columns={"level_0": "data_source"}).drop(columns=['level_1'])

In [6]:
df.head()

,data_source,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,ged,244657,IRQ-2017-1-524-322,2017,1,Clear,1,259,259,Iraq: Government,...,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,645,NaN
1,ged,132140,AFG-1989-1-411-2,1989,1,Clear,1,333,333,Afghanistan: Government,...,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN
2,ged,130364,AFG-1989-1-411-37,1989,1,Clear,1,333,333,Afghanistan: Government,...,1989-01-18 00:00:00.000,0,0,0,4,4,4,0,700,NaN
3,ged,130359,AFG-1989-1-411-4,1989,1,Clear,1,333,333,Afghanistan: Government,...,1989-01-24 00:00:00.000,0,0,0,600,600,600,600,700,NaN
4,ged,133883,AFG-1989-1-411-39,1989,1,Clear,1,333,333,Afghanistan: Government,...,1989-02-05 00:00:00.000,0,0,0,2,2,2,0,700,NaN

### Sense check

Note that `id` is not unique across the datasets â€“ there is a duplicate for Eritrea.

In [7]:
df[df[['id']].duplicated(keep=False)]

,data_source,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
70518,ged,385866,ERI-2020-3-1166-12,2020,1,Clear,3,98,699,Government of Eritrea - Civilians,...,2020-12-31 00:00:00.000,0,0,32,0,32,32,32,531.0,NaN
268910,candidate_annual,385866,ERI-2021-3-1166-25,2021,1,Clear,3,98,699,Government of Eritrea - Civilians,...,2021-01-05 00:00:00.000,0,0,38,0,38,38,38,531.0,NaN

But `relid` is unique across datasets

In [8]:
df[df[['relid']].duplicated(keep=False)]

Empty DataFrame
Columns: [data_source, id, relid, year, active_year, code_status, type_of_violence, conflict_dset_id, conflict_new_id, conflict_name, dyad_dset_id, dyad_new_id, dyad_name, side_a_dset_id, side_a_new_id, side_a, side_b_dset_id, side_b_new_id, side_b, number_of_sources, source_article, source_office, source_date, source_headline, source_original, where_prec, where_coordinates, where_description, adm_1, adm_2, latitude, longitude, geom_wkt, priogrid_gid, country, country_id, region, event_clarity, date_prec, date_start, date_end, deaths_a, deaths_b, deaths_civilians, deaths_unknown, best, high, low, gwnoa, gwnob]
Index: []

[0 rows x 50 columns]

Note that there are some rows where the deaths estimates dont make sense.

... where the `high` estimate is lower than the `low` estimate:

In [9]:
df[df['high']<df['low']].head()

,data_source,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
86,ged,134354,AFG-1990-1-412-3.1,1990,1,Clear,1,333,333,Afghanistan: Government,...,1990-10-12 00:00:00.000,0,36,0,100,136,135,136,700,NaN
203,ged,145886,AFG-1993-1-412-52,1993,1,Clear,1,333,333,Afghanistan: Government,...,1993-10-14 00:00:00.000,0,0,0,53,53,33,53,700,NaN
274,ged,146345,AFG-1995-1-412-13.1,1995,1,Clear,1,333,333,Afghanistan: Government,...,1995-08-22 00:00:00.000,0,2,0,0,2,1,2,700,NaN
524,ged,186176,AFG-1989-1-413-1000,1989,1,Clear,1,333,333,Afghanistan: Government,...,1989-12-31 00:00:00.000,0,0,0,21,21,0,21,700,NaN
4074,ged,133321,AFG-2008-1-327-361.1,2008,1,Clear,1,333,333,Afghanistan: Government,...,2008-07-17 00:00:00.000,0,8,0,0,8,7,8,700,NaN

I make an amended set of deaths data, where `high` estimates are swapped for `low` where `high`<`low`.

In [17]:
df['high_amend'] = df['high']

In [18]:
df.loc[(df.high<df.low), 'high_amend'] = df.loc[(df.high<df.low), 'low']

In [19]:
df['low_amend'] = df['low']

In [20]:
df.loc[(df.high<df.low), 'low_amend'] = df.loc[(df.high<df.low), 'high']

There are also rows where the `best` estimate falls outside the `low`-`high` range.

In [22]:
df[(df['best']<df['low_amend']) | (df['best']>df['high_amend'])].head()

,data_source,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,...,deaths_unknown,best,high,low,gwnoa,gwnob,high_alt,low_alt,high_amend,low_amend
434,ged,133990,AFG-1989-1-760-41.1,1989,1,Clear,1,333,333,Afghanistan: Government,...,0,22,21,0,700,NaN,21,0,21,0
455,ged,134076,AFG-1989-1-760-57.3,1989,1,Clear,1,333,333,Afghanistan: Government,...,78,85,84,0,700,NaN,84,0,84,0
7694,ged,168597,AFG-2010-1-327-2484.1,2010,1,Clear,1,333,333,Afghanistan: Government,...,0,3,2,2,700,NaN,2,2,2,2
9788,ged,186137,AFG-2011-1-327-3078.3,2011,1,Clear,1,333,333,Afghanistan: Government,...,0,3,4,4,700,NaN,4,4,4,4
14960,ged,163028,AFG-2014-1-327-1655.2,2014,1,Clear,1,333,333,Afghanistan: Government,...,0,4,11,5,700,NaN,11,5,11,5

I extend the (amended) `high` or `low` values to include the `best` estimate.

In [23]:
df.loc[(df.best<df.low_amend), 'low_amend'] = df.loc[(df.best<df.low_amend), 'best']

In [24]:
df.loc[(df.best>df.high_amend), 'high_amend'] = df.loc[(df.best>df.high_amend), 'best']

### Drop vars that aren't needed.

### Output as zipped csv

In [ ]:
df.to_csv('data/output/combined__and_tidied_geolocated_data.csv.zip', index = False, compression = "gzip")